.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 16px;
    margin-top: 25px;
    height: 100%;
    min-width: 300px;
}

.project-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 10px;
    width: 44%;
    flex-wrap: nowrap;
}

.filter-buttons-wrapper {
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.filter-buttons {
    display: flex;
    gap: 1rem;
}

.filter-buttons button {
    background-color: var(--purple);
    color: var(--boxbg);
    font-weight: 500;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(328deg, rgba(110,82,243,1) 0%, rgba(172,121,255,1) 100%);
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;  
}

.projects-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; 
}

.slide {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    background-color: var(--boxbg);
    position: relative;
    justify-content: center;
}

.project-image {
    height: 150px; /* Adjust this to your desired height */
    width: 100%;
    position: relative;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    opacity: 50%;
    transition: ease 0.5s;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project:hover .project-image {
    opacity: 100%; /* Full opacity on hover */
}

.main-tag {
    font-size: 0.8rem;
    position: absolute;
    color: var(--purple);
    top: 110px;
    left: 15px;
    background: #101114;
    text-transform: uppercase;
    border-radius: 0px 10px 0px 10px;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 10; /* Ensure it appears above the image */
}

.description {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 20px;
    text-align:justify;
    background-color: var(--boxbg);
    font-size: 0.8rem;
    height: 50px;
}

.tool-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px;
    background: var(--boxbg);
    border-radius: 0 0 10px 10px;
}

.tool-tags span {
    background-color: var(--purple);
    color: var(--boxbg);
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 0.6rem;
    font-weight: 600;
}

#no-projects-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: var(--purple);
}

@media only screen and (max-width: 600px) {
    .project-link {
        text-decoration: none;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin: 10px;
        width: 90%;
    }

    .filter-buttons {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
